<section class="certificate">

  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,800,800i|Satisfy&display=swap" rel="stylesheet">

  <h2 class="certificate__title">
    IDE Academy Certificate
  </h2>

  <p class="certificate__text">
    The staff of the course IDE Academy at the Faculty of Industrial Design Engineering of the Delft University of Technology recognizes that
  </p>

  <p class="certificate__name">
    {{ name }}
  </p>

  <p class="certificate__text">
    has successfully completed the following workshops:
  </p>

  <ul class="certificate__workshops">
    {% for workshop in attendences %}
      <li class="workshop"
        {% if workshop.rating %}
          style="--rating: {{ workshop.rating / 5 - 0.1 }}"
        {% endif %}>
        <span class="workshop__name">
          {{ workshop.workshop_name }}</span>
        {% if workshop.workshop_date.year != 1900 %}
        <span class="workshop__date">
          ({{ workshop.workshop_date.strftime("%B %Y") }})</span>
        {% endif %}
        {% if workshop.future_self != None %}
        <span class="workshop__feedback"><br>
          {{ workshop.future_self }}</span>
        {% endif %}
        {% if workshop.course_feedback != None %}
        <span class="workshop__feedback"><br>
          {{ workshop.course_feedback }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="certificate__text">
    As of {{ now.strftime("%B %Y") }}
  </p>

</section>
