{% extends "base.html" %}

{% block header %}
<h1 class="site-header__name">IDE Academy Certificates: Printing</h1>
{% endblock %}

{% block content %}

<nav class="sub-page-navigation">
  <p class="sub-page-navigation__go">
    <a href="/certificate/">Back to the certificate</a>
  </p>
</nav>

<section class="start">

  <h2>Printing as PDF in Safari on macOS</h2>
  <img src="/static/img/macOS_Safari.png" alt="Printing as PDF in Safari on macOS">

  <h2>Printing as PDF in Firefox on macOS</h2>
  <img src="/static/img/macOS_Firefox.png" alt="Printing as PDF in Firefox on macOS">

  <h2>Printing as PDF in Chrome on macOS</h2>
  <img src="/static/img/macOS_Chrome.png" alt="Printing as PDF in Chrome on macOS">

  <h2>Printing as PDF in Edge on Windows</h2>
  <img src="/static/img/Windows_Edge.jpeg" alt="Printing as PDF in Edge on Windows">

</section>

{% endblock %}
