{% extends "base.html" %}

{% block content %}

  <section class="start">

    <p class="start__introduction">
      You did a few workshops, great! But do you remember which ones? And how do you show that to your parents/future employer/friends/enemies? You generate your own certificate based on your attendence and quiz data in BrightSpace. The better you thought the workshop was, the more prominently it shows.
    </p>

    <p>
      <a class="start__submit" href="{{ login_url }}">
        Login with my NetID
      </a>
    </p>
  </section>

{% endblock %}
